@tailwind base;
@tailwind components;
@tailwind utilities;



.navButtons {
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.291);
}


.img {
    
    width: inherit;
    height: 575px;
    border-radius: 10%;
}

.aboutmetext {
    margin-top: 230px;
    margin-left: 30vw;
    margin-right: 10vw;
    /* width: 50vw; */

}