@tailwind base;
@tailwind components;
@tailwind utilities;



.navButtons {
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.291);
}


.img {
    width: inherit;
    height: 575px;
    border-radius: 10%;
}

.aboutmetext {
    margin-top: 230px;
    margin-left: 440px;
    width: 1300px;
    height: 600px;
}